<h1>Typing 關卡頁面</h1>
<ul>
    <%= link_to  "新增關卡", new_typing_path, method: 'GET', class:'btn btn-dark' %>
</ul>

<% n = 1 %>
  <div class=" card" style="width: 18rem;">
      <% @articles.each do |article| %>
        <div class="card-body">
          <h5 class="card-title">第<%= "#{n}" %>關</h5>
          <p class="card-text"><%= link_to article.content, typing_path(article.id) %></p>
          <div class="btn btn-primary"><%= link_to "編輯", edit_typing_path(article.id) %></div>
          <div class="btn btn-primary"><%= link_to "刪除", typing_path(article.id), method: "DELETE" %></div>
        </div>
        <% n += 1 %>
      <% end %>
  </div>

