<div class="row  justify-content-center">
  <%= render 'shared/timer' %>
</div>

<div class="row justify-content-center">
  <div class="play-container mt-3" data-controller="typing">
    <div class="quote-display" id="quoteDisplay">
      <div id="quotetopic">
        <% @topic_article.each do |character| %>
        <span data-target="typing.content"><%= character %></span>
        <% end %>
      </div>
    </div>
  </div>
  <textarea id="quoteInput" class="quote-input" autofocus type="hidden" data-action="typing#typein"></textarea>
  <audio id="keyboard-sound">
    <source src="/sound/keyboard_sound01.wav" type="audio/wav" > 
  </audio>
</div>

<%= render 'shared/keyboard' %>

<!-- 傳送結果用的隱藏表單 -->
<div class="statu-params">
  <% if current_user %>
    <%= form_for( @user_article, url: user_article_index_path , method: 'post') do |f| %>
      <div class="inputTime" ><%= f.text_field :time, value: 0 %></div>
      <div class="inputTypeNum"><%= f.text_field :letter_count, value: 0 %></div>
      <div class="inputWpm"><%= f.text_field :speed, value: 0 %></div>
      <div class="inputW"><%= f.text_field :wrong_letter, value: 0 %></div>
      <div class="inputN"><%= f.text_field :wrong_letter_count, value: 0 %></div>
      <div class="inputPercent"><%= f.text_field :accuracy, value: 0 %></div>
      <div class="userId"><%= f.text_field :user_id, value: current_user.id %></div>
      <div class="articleId"><%= f.text_field :article_id, value: @article.id %></div>
  
      <%= f.submit name: 'submit_result'%>
    <% end %> 
  <% end %>  
</div>