<div class="profile-title">
  <h1>
    <%= @user.nickname %>
  </h1>
  <div id="heart-counter" >
    <%= link_to "", data: { reflex: "click->ProfileReflex#likes", id: @user.id } do %>
      <%= tag.span @heart_counter, id: "user-#{@user.id}-likes" %>
      <img src="/icon/heart.png" class="heart" alt="..." >
    <% end %>
  </div>
</div>

<div class="row user-info user-profile">
  <div class="basic-info">
    <div class="user-pic col-3">
      <img class="img-circle" src="<%= @user.photo_url(:small) %>" />
    </div>
    <div class="user-info col-6">
      <div class="user-info-nickname">
        <%= @user.nickname %>
      </div>
      <div class="user-info-email">
        <%= @user.email %>
      </div>
      <small class="user-info-created_at">
        have been join us since <%= @user.created_at.strftime('%Y/%m/%d')  %>
      </small>
    </div>
  </div>
  
  <div class="stats-info">
  dddf
  </div>
</div>

<div class="row user-profile user-info">
    <div class="user-info col-4">
      <canvas id="arti_accuracy" 
              data-accuracy="<%= @arti_accuracy %>%">
      </canvas>
    </div> 
    <div class="user-info col-4">
      <canvas id="arti_wpm" 
              width="40" height="14" 
              data-wpm="<%= @arti_wpm %>sec">
      </canvas>
    </div>
  
    <div class="user-info col-4">
      <canvas id="arti_accu_line" 
              width="40" height="20" 
              data-accday="<%= @arti_day.to_json %>">
      </canvas>
    </div>
</div>