<div>
  <%= form_for @topic do |f|%>
    <h1>Edit Your Own Lesson</h1>

    <div class="actions d-flex justify-content-end">
      <%= f.submit class:"diy-update-bt"%>
      <%= link_to "Back", customizations_path , class: 'back_bt'%>
    </div>

    <%= f.text_area :content, class: "form-control" %>
  <% end %>
</div>
<%= render 'shared/limited_use'%>
