<h1>Make Your Own Lesson</h1>
  <div>
  <button class="btn mb-3 mx-auto" id="customization-btn">Create</button> 
  </div>


  <div class="card d-none">
    <div class="card-body">
      <%= form_for @topic do |f| %>      
        <div class="form-row">
          <div class="form-group mr-2">
            <%= f.label :content %>
            <%= f.text_field :content, class: 'form-control' %>
            <%= f.hidden_field :type, value: 'Customization' %>
          </div>
          <div class="form-group">
            <%= f.submit class: 'btn btn-primary', id: 'customization_submit' %>
          </div>
        </div>
      <% end %>
    </div>   
  </div>
  
  
  <div class="lesson-select">
    <div class="row">
    <% start = 1 %>
    <div class= "card">
      <% if @user_topics %>
        <% @user_topics.each do |topic| %>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          
          
              <div class="card-body" style="display: flex; flex-flow: column; justify-content: space-between">
                
  
                  <div class="accracy d-none"> <%= @all_progress[topic.id] %></div>
                    <% if @done_customization.include?(topic.id) %>
                    <div class="check-done">
                      <img src="/icon/check-circle.svg" alt="">
                    </div>
                    <% end %>
                
                <h5 class="card-title" id="lessonTitle">Lesson<%= "#{start}" %></h5>
                <p class="card-text ellipsis"><%= topic.content %></p>
                <div class="link-group d-flex">
                  <%= link_to "Start", send("customization_path", id: topic.id), class: 'btn', id: "play-start" %>
                  <%= link_to(image_tag('/icon/edit-custom.svg'),  edit_customization_path(topic.id), class:'edit-custom')%>
                  <%= link_to(image_tag('/icon/trash-2.svg'),  customization_path(topic.id), class:'trash',id: "delete-custom-btn", method: "DELETE") %>
                </div>
                <div class="stars d-flex" id=lessonBar<%= start %>>
                </div> 
              </div>        
            </div>
  
            <% start += 1 %>
            
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  let customizationBtn = document.querySelector('#customization-btn')
  let deleteCustomBtn = document.querySelectorAll('#delete-custom-btn')
  let customizationContent = document.querySelector('#customization_content')
  let createBtn = document.querySelector('#customization_submit')
  
  customizationBtn.addEventListener('click', () => {
    getData();
  })
  async function getData() {
    const { value: formValues } = await Swal.fire({
      title: 'MAKE YOUR OWN LESSON',
      showCancelButton: true,
      confirmButtonText: 'Yes, Create it!',
      html:
        '<textarea id="swal-input1" class="swal2-input" placeholder="Topic content"></textarea>',
      focusConfirm: false,
      preConfirm: () => {
        let topicContent = document.getElementById('swal-input1')
        if (topicContent.value === '') {
          Swal.showValidationMessage(
            `Request failed: Name and Description `
          )
        } else {
          return [
            topicContent.value,
          ]
        }
      }
    })

    if (formValues) {

      let timerInterval
      Swal.fire({
        title: 'Topic has created!',
        timer: 2000,
        timerProgressBar: false,
        onClose: () => {
          clearInterval(timerInterval)
        }
      }).then(() => {
        customizationContent.value = formValues[0]
        createBtn.click()
      })
    }
  }


  let stepStatus = false
  deleteCustomBtn.forEach((deleteBtn) => {
    deleteBtn.addEventListener('click', (btn) => {
      if (stepStatus === false) {
        btn.preventDefault();
        btn.stopPropagation();
          Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#ff67c0',
          cancelButtonColor: '#EEC44C',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.value) {
            Swal.fire({
              icon: 'success',
              title: 'Your room has deleted!',
              showConfirmButton: false,
              timer: 1500
            })
            stepStatus = true;
            setTimeout(() => {
              deleteBtn.click();
            }, 1000);
          }
        })
      }
      if (stepStatus === true) {
        stepStatus = false
      }
    })
  })
</script>