<h1>Racing Rooms</h1>

<div class="lesson-select">
  <div class="card">
    <div class="card-body">
      <%= form_for @room do |f|%>
        <div class="form-row">
          <div class="form-group mr-2">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group mr-2">
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
        
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="lesson-select">
  <div class="card">
  <% @rooms_list.each do |room|%>
    <div class="card-body">
      <h5><%= room.name %></h5>
      <p><%= room.description %></p>
      <%= link_to "Join", room_path(room.id), class: 'btn' %>
      <%= link_to "編輯", edit_room_path(room.id), class: 'btn' %>
      <%= link_to "刪除", room_path(room.id), class: 'btn', method: "DELETE" %>
    </div>
  <% end %>
  </div>
</div>