<h1>Racing Romm List</h1>

<div>
  <%= form_for @room do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
  <% end %>
</div>

<div>
  <table class="table table-hover">
    <thead>
      <th scope="col">Room</th>
      <th scope="col">Description</th>
      <th scope="col">人數</th>
      <th scope="col">加入</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </thead>
    <% @rooms_list.each do |room|%>
    <tbody>
      <td><%= link_to room.name, room_path(room.id) %></td>
      <td><%= room.description %></td>
      <td> </td>
      <td><a href="#" class="btn btn-primary">Join</a></td>
      <td><%= link_to "編輯", edit_room_path(room.id) %></td>
      <td><%= link_to "刪除", room_path(room.id), method: "DELETE" %></td>
    </tbody>
    <% end %>
  </table>
</div>