<table class="table article-stat">
      <thead>
        <tr>
          <th>文章編號</th>
          <th>時間</th>
          <th>字數</th>
          <th>速度</th>
          <th>錯誤字數</th>
          <th>準確度</th>
        </tr>
      </thead>
      
      <% @user_topics.each do |user_topic| %>
        
        <tbody>
          <tr>
            <td><%= user_topic.topic[type: "Article"] %></td>
            <td><%= user_topic.time %>秒</td>
            <td><%= user_topic.letter_count %></td>
            <td><%= user_topic.speed %>WPM</td>
            <td><%= user_topic.wrong_letter_count %></td>
            <td><%= user_topic.accuracy %>%</td>
          </tr> 
        </tbody>

      <% end %>
</table>