<div class="navbar">
  <div>
    
    <a href="#">
      <img src="https://picsum.photos/100/30" alt="">     
    </a>
    <div>

      <% if current_user  %>
        <%= link_to  "Home", playground_index_path %>
        <%= link_to  "Stats", '#' %>
      <% end  %>
      
    </div>
  </div>
  <div>

    <% if current_user  %>
      <%= link_to  "Setting", 'profile_path' %>
      <%= link_to '登出' ,destroy_user_session_path , method: 'delete'  %>
    <% else  %>
      <%= link_to  "Start", playground_index_path %>
      <%= link_to '註冊' ,new_user_registration_path  %>
      <%= link_to '登入' ,new_user_session_path %>
    <% end  %>

  </div>
</div>

  

  


  