<nav class="navbar navbar-expand-lg navbar-light ">
  <!-- 切換底色開關測試 
  <form>
    <input type="checkbox" name="mode" id="mode">
  </form>
  -->
  <a class="navbar-brand" href="/" id="navbaarBrand">
    <img src="/img/Logo.svg" type=display alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user  %>
        <li class="nav-item btn-group" id="home-dropdown-menu" role="group">
          <%= link_to  "Home", playground_index_path, class: 'btn btn-primary nav-btn dropdown-toggle'%>
          <div class="dropdown-menu " >
            <a class="dropdown-item" href="/playground/typing">Typing Practice</a>
            <a class="dropdown-item" href="/playground/coding">Typing Code</a>
            <a class="dropdown-item" href="/playground/racing">Typing Battle</a>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to  "Stats", stats_path, class: 'btn btn-primary nav-btn' %>
        </li>
      <% end  %>
    </ul>
    <ul class="navbar-nav">
      <% if current_user  %>
        <li class="nav-item">
          <%= link_to  "Setting", edit_user_registration_path, class: 'btn btn-primary nav-btn' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout' ,destroy_user_session_path , method: 'delete',class: 'btn btn-primary nav-btn'  %>
        </li>
      <% else  %>
        <li class="nav-item">
          <%= link_to 'Start', playground_index_path, class: 'btn btn-primary nav-btn'  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Registered' ,new_user_registration_path, class: 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Login' ,new_user_session_path, class: 'nav-link' %>
        </li>
      <% end  %>
    </ul>
  </div>
</nav>


  