<!-- 傳送結果用的隱藏表單 -->
  <%= form_for( @user_article, url: user_article_index_path , method: 'post', html: { class: 'statu-params' } ) do |f| %>
  
    <div class="inputTime" ><%= f.text_field :time, value: 0 %></div>
    <div class="inputTypeNum"><%= f.text_field :letter_count, value: 0 %></div>
    <div class="inputWpm"><%= f.text_field :speed, value: 0 %></div>
    <div class="inputW"><%= f.text_field :wrong_letter, value: 0 %></div>
    <div class="inputN"><%= f.text_field :wrong_letter_count, value: 0 %></div>
    <div class="inputPercent"><%= f.text_field :accuracy, value: 0 %></div>
    <div class="articleId"><%= f.text_field :article_id, value: @article.id %></div>

    <%= f.submit name: 'submit_result'%>
  <% end %>  
