<div class="lesson-select">
  <div class="row">
      <% start = 1 %>
  <div class= "card" >
    <% topics.each do |topic| %>

    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card-body" style="display: flex;flex-flow: column;justify-content: space-around;">
  
          <% if current_user %>
            <div class="accracy d-none"><%= stars[topic.id] %></div>
          <% end %>
  
          <% if current_user %>
            <% if done.include?(topic.id) %>
              <div class="check-done" id='checkDone'>
                <img src="/icon/check-circle.svg" alt="">
              </div>
            <% end %>
          <% end %>
  
          <h5 class="card-title" id="lessonTitle">Lesson<%= "#{start}" %></h5>
          <p class="card-text ellipsis"><%= topic.content %></p>
          <%= link_to "Start", send("#{type}_path", id: topic.id), class: "btn btn-primary d-flex justify-content-center ", id: "play-start" %>
  
          <div class="stars d-flex" id=lessonBar<%="#{start}"%>>
          </div> 
        </div>
    </div> 
      <% start += 1 %>
    <% end %>
  </div>
</div>
</div>

