<div class="row  justify-content-center">
  <%= render 'shared/timer' %>
</div>

<div class="row justify-content-center">
  <div class="play-container mt-3" data-controller="typing">
    <div class="quote-display" id="quoteDisplay">
      <div id="quotetopic">
        <% @code_item.each do |code| %>
          <div>
              <% code.each do |character| %>
                <% if character == " " %>
                  <span> </span>
                <% else %>
                  <span><%= character %></span>
                <% end %>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <textarea id="quoteInput" class="quote-input" autofocus type="hidden"></textarea>
      
    <audio id="keyboard-sound">
      <source src="/sound/keyboard_sound01.wav" type="audio/wav" > 
    </audio>
</div>

<%= render 'shared/keyboard'  %>
<%= render 'shared/stats', achievement: @user_topic ,topic: @codes %>
<%= render 'shared/limited_use'%>
<label for="quoteInput" id="label-textarea"></label>

  





