<div>
  <%= form_for @room do |f|%>
    <%= f.submit class: 'rooms-submit' %>
    <div class="room-name">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="room-description">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
  <% end %>
</div>