<div id="<%= controller.controller_name %>-<%= controller.action_name %>">

  <div class="check-group justify-content-center">
    <div class="mt-5 check-roomname">
      <a href="/playground/racing">
        <img src="/icon/exit-1.svg" class="back-to-racing" alt="..." >
      </a>
      <h3><%= @room.name %></h3>
    </div>
    <div class="check-roomname" id="waitNotice">
      <h3 class="mt-0 mb-0">Waiting...</h3>
    </div>
    <div id="readyHandler" class="ready-handler disappear">
      <div class="row">
        <div class="col-5 check-area host mx-auto">
          <% if current_user.photo_url  %>
            <img class="img-circle" src="<%= current_user.photo_url(:small) %>" />
          <% else  %>
            <img class="img-circle" src="/img/AvatarDefault.jpg"  width="200px" height="200px"/>
          <% end  %>
          
          <%= form_for :check, url: "/messages/new", method: 'GET',remote: true do |f| %>
          <div class="ready-title mb-3 text-center">
            <%= current_user.nickname %>
          </div>
          <div class="ready-title mb-3 text-center">
            Are you ready?
          </div>
            <%= f.label "Yes", for: 'check_content', class: 'ready-btn-host d-block text-center mt-5' %>
          <div>
            <%= f.check_box :content, class: 'd-none' %>
          </div>
          <div>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.hidden_field :user_photo, value: current_user.photo %>
            <%= f.submit name: 'check-left', class: 'd-none' %>
          </div>
          <% end %>
        </div>
    
        <div class="col-5 check-area guest mx-auto">
          <div id="guest-name"></div>
          <form>
            <div class="ready-title ready-title-guest mb-3">Wait for competitor...</div>
            <div class="ready-btn-guest text-center" id="readyBtnGuest">Not ready</div>
            <input type="checkbox" id="guest-check" class="d-none">
          </form>
        </div>
      </div>
    </div>
  </div>


  <div id="counterZone"></div>
  <h3 class="mt-3 mb-2"><%= @room.name %></h3>
  <h5 id="timeCounter">0</h5>
  <div class="tug-bar" id= "tugBar" col-1>
    <div class="my-point" id="myPoint"></div>
    <div class="enemy-point" id="enemyPoint"></div>
  </div>
  <div class="users-photo ball-center">
    <div class="racing-center">
      <img src="/icon/triangle.svg" class="back-to-racing" alt="..." >
    </div>
  </div>

  <div class="game-zone">
    <div class="host">
      <div class="player-info">
        <div class="name-and-socre">
          <p class="d-inline-block">User: <span id="userLeft"><%= current_user.nickname %></span></p>
          <p  class="d-inline-block "><span id="hostCorrect">0</span> points</p>
        </div>
        <div class="combo-count">
          <p class="d-inline-block combo-count"><span id="combo-count"></span></p>
        </div>
      </div>
      <div class="racing-ground w-100" id="racingQuoteDisplay">
        <div class="racing-quote-display">
          <div id="racingQuoteTopic">
            <%= render 'quote', topic: @topic%>
          </div>
        </div>
      </div>
      <%= form_for @message, remote: true do |f| %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.text_area :content, class: 'racing-quote-input', 
                                  id: 'racingQuoteInput', 
                                  type: 'hidden' %>
        <%= f.submit name: 'left_input', class: "d-none" %>
      <% end %>
      <%= form_for :records, url: '/messages/new', method: 'GET', remote: true do |b| %>
        <%= b.hidden_field :room_id, value: @room.id %>
        <%= b.hidden_field :time %>
        <%= b.hidden_field :accuracy %>
        <%= b.submit name: 'record-submit', class: 'd-none' %>
      <% end %>
    </div>
    
    <div class="guest">
      <div class="player-info">
        <p class="d-inline-block">User: <span id="userRight"></span></p>
        <p class="d-inline-block"><span id="guestCorrect">0</span> points</p>
        <p class="d-inline-block"><span id="combo-count"></span></p>
      </div>
      <div class="racing-ground guest w-100" id="racingQuoteDisplay2">
        <div class="racing-quote-display2">
          <div id="racingQuoteTopic2">
            <%= render 'quote', topic: @topic%>
          </div>
        </div>
      </div>
      <textarea class="racing-quote-input2" id="racingQuoteInput2" type="hidden" name="message[content]"></textarea>
    </div>
  </div>

  <div class="d-none">
    <div id="user-id" data-user-id="<%= current_user.id %>" data-user-name="<%= current_user.nickname %>">User Id : <%= current_user.id %></div>
    <div id="user-name">User name : <%= current_user.nickname %></div>
    <div id="room-id" data-room-id="<%= @room.id %>">Room Id : <%= @room.id %></div>  
  </div>
  <audio id="keyboard-sound">
    <source src="/sound/keyboard_sound01.wav" type="audio/wav" > 
  </audio>

  

  <div class="preloader d-none">
    <div class="loader-ground">
      <div class="single9"></div>
    </div>
  </div>
</div>
<%= render 'shared/limited_use'%>

<label for="racingQuoteInput" id="label-textarea" class="d-none"></label>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    let readyHandler = document.querySelector('#readyHandler')
    let waitNotice = document.querySelector('#waitNotice')
    let members
    let membersCounter = setInterval(() => {
      fetch('<%= members_api_room_path %>',{})
      .then((resp) => {
        return resp.json()
      })
      .then((resp) => {
        members = resp.members
        return members
      })

      if (members >= 2) {
        clearInterval(membersCounter)
        console.log('ready');
        readyHandler.classList.remove('disappear')
        waitNotice.classList.add('disappear')
      }
    }, 1000);
  })
</script>