<h1>Stats</h1>

<div class="row user-profile">
  <div class="user-pic col-3">
    <img src="/img/NoobAvatar.jpg" alt="">
  </div>
  <div class="user-info col-9">
    <div class="user-info-nickname">
      <%= current_user.nickname %>
    </div>
    <div class="user-info-email">
      <%= current_user.email %>
    </div>
    <div class="user-info-created_at">
      You have been join us since <%= current_user.created_at.strftime('%Y/%m/%d')  %>
    </div>
    <div class="user-info-edit">
      <%= link_to  "Wanna change a charming name?", edit_user_registration_path %>
    </div>
  </div>
</div>

<div class="row user-profile">
  <div class="user-info col-4">
    <canvas id="arti_accuracy" 
            width="40" height="30" 
            data-accuracy="<%= @arti_accuracy %>%">
    </canvas>
  </div> 
  <div class="user-info col-4">
    <canvas id="arti_wpm" 
            width="40" height="14" 
            data-wpm="<%= @arti_wpm %>sec">
    </canvas>
  </div>
</div>


<div class="row type-log">
  <% if current_user %>
    <h3><%= current_user.nickname %>的資料分析</h3>
    <table class="table">


      <thead>
        <tr>
          <!-- <th>使用者</th> -->
          <th>文章編號</th>
          <th>時間</th>
          <th>字數</th>
          <th>速度</th>
          <!-- <th>錯誤字母</th> -->
          <th>錯誤字數</th>
          <th>準確度</th>
        </tr>
      </thead>
      <!-- 把底下迴圈放在controller action做完再塞實體變數 -->
      <% current_user.user_articles.each do |i| %>
        <tbody>
          <tr>
            <!-- <td><%= i.user_id %></td> -->
            <td><%= i.article_id %></td>
            <td><%= i.time %>秒</td>
            <td><%= i.letter_count %></td>
            <td><%= i.speed %>WPM</td>
            <!-- <td><a href="#" class="wrong-letter">錯字</a></td>
            <td><%= i.wrong_letter %></td>  -->
            <td><%= i.wrong_letter_count %></td>
            <td><%= i.accuracy %>%</td>
          </tr> 
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>




