<h1>Stats</h1>
<canvas id="chart" width="40" height="30"></canvas>

<script>
    var ctx = document.getElementById('chart').getContext('2d');
    var chart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [32, 19, 30, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132)',
                'rgba(54, 162, 235)',
                'rgba(255, 206, 86)',
                'rgba(75, 192, 192)',
                'rgba(153, 102, 255)',
                'rgba(255, 159, 64)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 4
        }]
    }
});
  </script>

<div class="row">
  <% if current_user %>
    <h3><%=  current_user.id%>的歷史紀錄</h3>
    <table class="table">
      <thead>
        <tr>
          <!-- <th>使用者</th> -->
          <th>文章編號</th>
          <th>時間</th>
          <th>字數</th>
          <th>速度</th>
          <!-- <th>錯誤字母</th> -->
          <th>錯誤字數</th>
          <th>準確度</th>
        </tr>
      </thead>
      <% current_user.user_articles.each do |i| %>
        <tbody>
          <tr>
            <!-- <td><%= i.user_id %></td> -->
            <td><%= i.article_id %></td>
            <td><%= i.time %></td>
            <td><%= i.letter_count %></td>
            <td><%= i.speed %></td>
            <!-- <td><a href="#" class="wrong-letter">錯字</a></td>
            <td><%= i.wrong_letter %></td>  -->
            <td><%= i.wrong_letter_count %></td>
            <td><%= i.accuracy %>%</td>
          </tr> 
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>




