<h1>Stats</h1>

<% current_user.user_articles.each do |i| %>
  <table class="table">
    <thead>
      <tr>
        <th>使用者</th>
        <th>文章編號</th>
        <th>時間</th>
        <th>字數</th>
        <th>速度</th>
        <th>錯誤字母</th>
        <th>錯誤字數</th>
        <th>完成度</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= i.user_id %></td><br>
        <td><%= i.article_id %></td>
        <td><%= i.time %></td>
        <td><%= i.letter_count %></td>
        <td><%= i.speed %></td>
        <td><%= i.wrong_letter %></td>
        <td><%= i.wrong_letter_count %></td>
        <td><%= i.accuracy %></td>
      </tr> 
    </tbody>
    <tfoot>

    </tfoot>
  </table>
<% end %>