<h1>Stats</h1>

<div class="row user-profile">
  <div class="user-pic col-3">
    <img src="/img/NoobAvatar.jpg" alt="">
  </div>
  <div class="user-info col-6">
    <div class="user-info-nickname">
      <%= current_user.nickname %>
    </div>
    <div class="user-info-email">
      <%= current_user.email %>
    </div>
    <div class="user-info-created_at">
      You have been join us since <%= current_user.created_at.strftime('%Y/%m/%d')  %>
    </div>
    <div class="user-info-edit">
      <%= link_to  "Wanna change a charming name?", edit_user_registration_path %>
    </div>
  </div>
</div>

<div class="row user-profile">
  <div class="user-info col-4">
    <canvas id="arti_accuracy" 
            data-accuracy="<%= @arti_accuracy %>%">
    </canvas>
  </div> 
  <div class="user-info col-4">
    <canvas id="arti_wpm" 
            width="40" height="14" 
            data-wpm="<%= @arti_wpm %>sec">
    </canvas>
  </div>
</div>

<div class="row type-log">
  <% if current_user %>
    <h3><%= current_user.nickname %>的資料分析</h3>
    <table class="table">

      <thead>
        <tr>
          <th>文章編號</th>
          <th>時間</th>
          <th>字數</th>
          <th>速度</th>
          <th>錯誤字數</th>
          <th>準確度</th>
        </tr>
      </thead>
      <!-- 把底下迴圈放在controller action做完再塞實體變數 -->
      <% @user_topics.each do |user_topic| %>
        <tbody>
          <tr>
            <td><%= user_topic.topic_id %></td>
            <td><%= user_topic.time %>秒</td>
            <td><%= user_topic.letter_count %></td>
            <td><%= user_topic.speed %>WPM</td>
            <td><%= user_topic.wrong_letter_count %></td>
            <td><%= user_topic.accuracy %>%</td>
          </tr> 
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>




