<h1>Stats</h1>

<div class="row user-profile">
  <div class="user-pic col-3">
    <% if current_user.photo_url  %>
      <img class="img-circle" src="<%= current_user.photo_url(:small) %>" />
    <% else  %>
      <img class="img-circle" src="img/AvatarDefault.jpg"  width="200px" height="200px"/>
    <% end  %>
  </div>

  
  <%# byebug  %>
  <div class="user-info col-6">
    <div class="user-info-nickname">
      <%= current_user.nickname %>
    </div>
    <div class="user-info-email">
      <%= current_user.email %>
    </div>
    <div class="user-info-created_at">
      You have been join us since <%= current_user.created_at.strftime('%Y/%m/%d')  %>
    </div>
    <div class="user-info-edit">
      <%= link_to  "Wanna change a charming name?", edit_user_registration_path %>
    </div>
  </div>
</div>

<div class="row user-profile">
    <div class="user-info col-4">
      <canvas id="arti_accuracy" 
              data-accuracy="<%= @arti_accuracy %>">
      </canvas>
    </div> 
    <div class="user-info avg-wpm col-4">
      <canvas id="arti_wpm" 
              data-wpm="<%= @arti_wpm %>sec">
      </canvas>
    </div>
  
    <div class="arti_accu_line col-4" id='artiAccuLine'>
      <canvas id="arti_accu_line"
              data-accday="<%= @arti_day.to_json %>"> 
      </canvas>
    </div>
</div>

<% if current_user %>
  <div class="row user-profile">
    <div class="overflow-auto " id="cal-heatmap"></div>
  </div>

  <div class="row type-log">
    <div class="data-title">
      <h3><%= current_user.nickname %>的資料分析</h3>
    </div>
    <%= render 'shared/article_stat', user_topic: @user_topic %>
  </div>
<% end %>
<%= render 'shared/limited_use'%>
