<!DOCTYPE html>
<html>
  <head>
    <title>Noob.Typing</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="/img/NoobWebIcon.ico" type="image/x-icon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %> 
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
    
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render "shared/navbar" %>
    <%= render "shared/flash"  %>
      <div class='container'>
        <%= yield %>
      </div>
  </body>
</html>
