<!DOCTYPE html>
<html>
  <head>
    <title>TypingPractice200</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" unless params[:controller] == 'welcome' && params[:action] == 'index'%>
    <%= render "shared/flash"  unless params[:controller] == 'welcome' && params[:action] == 'index'%>
    <% unless current_page?(root_path)%>
      <div class='container'>
        <%= yield %>
      </div>
      <%else%>
        <%= yield %> 
    <%end%>
  </body>
</html>
